@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: #fbf2e6;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #065045;
    border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #06473f;
}


html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #fbf2e6;
}

nav {
    width: 100%;
    height: 6rem;
    padding: 1rem 1rem;
    backdrop-filter: blur(0px);
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Fading effect */
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav a img {
    height: 2.5rem;

}

nav .navbtns {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    /* Adds space between each list element */
    margin-right: 3vw;
    /* Ensures it stays at the top right */
    margin-top: -3rem;
}

nav .navbtns li {
    display: flex;
}

nav .navbtns li a {
    color: #c5b695;
    text-decoration: none;
    border-bottom: 2px solid #c5b695;
    padding-bottom: 3px;
    text-transform: uppercase;
}

img[src="img/Logo.png"] {
    margin: 0 -0.5rem 0 0;
}

img[src="img/logo2.png"] {
    margin: 0 0rem 0 0;
    padding-top: 0.3rem;
}

.welcome {
    background-image: url('../img/mainwelcome.jpg');
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: fit-content;
    padding: 0rem 0rem 0rem 5rem;
    border-bottom-right-radius:100px;
    border-bottom-left-radius: 100px;
}

.inners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-top: 10vh
}

.only-content{
    justify-content: flex-start;
    .text-content{
        margin-left: 2rem;
    }
}

.mac img {
    width: 35vw;
}


.welcome .text-content {
    display: inline-block;
    width: 40vw;
    text-align: left;
}

.welcome h1,
.welcome h2,
.welcome p {
    color: #fbf2e6;
}

.welcome h1 {
    width: 100%;
    font-weight: 500;
    font-size: 3.2vw;
}

.text-content h3 {
    color: #fbf2e6;
    font-weight: 300;
    font-size: 3.2vw;
}

.welcome h2 {
    font-weight: 300;
}

.welcome p {
    width: 100%;
    font-size: 1.3vw;
    margin-bottom: 2rem;
}

.welcome a {
    background-color: #f9e8d59a;
    color: #fbf2e6;
    border: 1px solid #fbf2e6;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4rem;
}

.contact-button {

    display: inline-block;
    background-color: #f9e8d59a;
    color: #fbf2e6;
    border: 1px solid #fbf2e6;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.3vw;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #e0e0e0;
    color: #000;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.image-container img {
    margin: 120px;
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}

.text-container {
    color: #2b685d;
    margin-left: 120px;
    text-align: left;
}



.text-container p {

    margin: 10px 0;
}

.text-container .text-container-p {

    font-size: 2.5vw;
}

.explore-more {
    background-color: #f5e8d7;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 100%;
    height: 1040px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.explore-more h2 {
    color: #2b685d;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
}

.explore-more h3 {
    color: #2b685d;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.explore-more p {
    color: #2b685d;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.explore-more h4 {
    color: #2b685d;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.explore-more-button {
    display: inline-block;
    background-color: #f5e8d7;
    color: #2b685d;
    padding: 10px 20px;
    border: 2px solid #2b685d;
    border-radius: 25px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.explore-more-button:hover {
    background-color: #2b685d;
    color: #ffffff;
}

.explore-more-button-container {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.explore-today-news {
    display: flex;
    padding: 40px;
    background-color: #f8f1e9;
    height: 600px;
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-right: 40px;
}

.news-image {
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
}

.news-content {
    max-width: 600px;
}

.news-content h2 {
    color: #2c5f2d;
    font-size: 32px;
    margin-bottom: 20px;
}

.news-content h3 {
    color: #2c5f2d;
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 0;
}

.news-content p {
    color: #333;
    font-size: 20px;
    line-height: 1.8;
}

@media (max-aspect-ratio: 1/1) {}