@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #fbf2e6;
}

nav {
    width: 100%;
    height: 6rem;
    padding: 1rem 1rem;
    backdrop-filter: blur(0px);
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Fading effect */
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav a img {
    height: 2.5rem;

}

nav .navbtns {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    /* Adds space between each list element */
    margin-right: 3vw;
    /* Ensures it stays at the top right */
    margin-top: -3rem;
}

nav .navbtns li {
    display: flex;
}

nav .navbtns li a {
    color: #c5b695;
    text-decoration: none;
    border-bottom: 2px solid #c5b695;
    padding-bottom: 3px;
    text-transform: uppercase;
}

img[src="img/Logo.png"] {
    margin: 0 -0.5rem 0 0;
}

img[src="img/logo2.png"] {
    margin: 0 0rem 0 0;
    padding-top: 0.3rem;
}

.welcome {
    background-image: url('../img/Contact Us.png');
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: fit-content;
    padding: 0rem 0rem 0rem 5rem;
}

.inners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-top: 10vh
}

.mac img {
    width: 35vw;
}


.welcome .text-content {
    display: inline-block;
    width: 40vw;
    text-align: left;
}

.welcome h1,
.welcome h2,
.welcome p {
    color: #fbf2e6;
}

.welcome h1 {
    width: 100%;
    font-weight: 500;
    font-size: 3.2vw;
}

.welcome h2 {
    font-weight: 300;
}

.welcome p {
    width: 100%;
    font-size: 1.3vw;
}

.welcome a {
    background-color: #f9e8d59a;
    color: #fbf2e6;
    border: 1px solid #fbf2e6;
    text-align: center;
    text-decoration: none;
}

.icontact {
    margin: 10rem 10rem 6rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
}

.iphone {
    display: inline;
    width: fit-content;
    min-width: 40%;
    max-width: 45%;
}

.icontact img {
    width: 100%;
    display: inline-block;
}

.icontent {
    width: 40vw;
}

.icontent * {
    color: #065045;
}

.icontent h1 {
    font-size: 3.5vw;
}

.icontent h2 {
    font-size: 2vw;
}

.icontent p {
    margin-top: 1rem;
    font-size: 1.5vw;
}

.mess {
    margin-top: 6vh;
}

.formm {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 40vw;
}

textarea {
    resize: vertical;
    background-color: #fbf2e6;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.inputs label,
inputs textarea {
    margin-left: 1.5vw;
    font-size: 1.3vw;

}

.inputs input,
.inputs textarea {
    background-color: #fbf2e6;
    border: 0px solid rgba(6, 80, 69, 0.2);
    border-bottom-width: 2px;
    transition: 0.5s;
    padding: 1rem;
    font-size: 1.3vw;
}

.inputs textarea {
    transition: border-color 0.5s;
    min-height: fit-content;
}

.inputs textarea::placeholder {
    transition: 0.5s;
    min-height: fit-content;
}

.inputs input:focus,
.inputs textarea:focus {
    border: 0px solid rgb(6, 80, 69);
    border-bottom-width: 2px;
    outline: 0;
    transition: 0.5s;
}

.inputs input::placeholder,
.inputs textarea::placeholder {
    color: rgba(6, 81, 69, 0.2);
    width: 100%;
    transition: 0.5s;
}

.inputs input:focus::placeholder,
.inputs textarea:focus::placeholder {
    color: rgb(6, 81, 69);
    width: 100%;
    transition: 0.5s;
}

.submitt {
    border: 0px solid red;
    padding: 1vh 3vw;
    background-color: #065045;
    color: white;
    text-transform: uppercase;
    width: 40%;
    margin: auto;
    font-size: 1.3vw;
    border-radius: 100px;
    font-weight: 500;
    transition: 0.5s;
}

.submitt:hover {
    background-color: #0b9c86;
}

.grid-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.container-one {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 1vw;
    margin-left: 4.5vw;
}

.container-two {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 1vw;
}

.grid-item img {
    border-radius: 5px;
}

.pone {
    width: 9vw;
    height: 9vw;
}

.ptwo {
    width: 6vw;
    height: 7.8vw;
}

.pthree {
    width: 9vw;
    height: 9vw;
}

.pfour {
    width: 9vw;
    height: 5.7vw;
}

.forcetwo {
    gap: 5vw;
}

footer {
    width: 100%;
    display: flex;
    height: 106vh;
    background-image: url("../img/bglogo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: -10%;
}

footer .foot {
    padding: 6vh 7vw;
    background-color: #065045;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

footer .foot .foot1 {
    display: flex;
    flex-direction: column;
    margin-right: 20vw;
}

footer .foot .foot1 img {
    width: 10vw;

}

footer .cpyrght {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    background-color: #edd9c1;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1.1vw;
}

.foot2 {
    margin-right: 5vw;
}

.foot2 h3,
.foot3 h3 {
    color: #d5b08e;
    margin-bottom: 2vh;
    font-size: 1.35vw;
}

.foot2 ul {
    list-style-type: none;
}

.foot2 li,
.foot2 li a {
    color: #e4e3d7;
    font-weight: 200;
    text-decoration: none;
    margin: 1vh 0;
    transition: 0.5s;
    font-size: 1.1vw;
}

.foot3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.foot3 .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.social a {
    text-decoration: none;
    color: #e4e3d7;
    transition: 0.5s;
    font-size: 1.5vw;
}

.social a:hover,
.foot2 li a:hover {
    color: #d5b08e;
}

@media (max-aspect-ratio: 1/1) {

    nav {
        width: 100%;
        height: 8vh;
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 0vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }


    nav a img {
        height: 7vw;

    }

    img[src="img/Logo.png"] {
        margin: 0 -0.5rem 0 0;
    }

    img[src="img/logo2.png"] {
        margin: 0 0rem 0 0;
        padding-top: 0.3rem;
    }


    nav .navbtns li a {
        font-size: 3vw;
    }

    .welcome {
        height: fit-content;
        padding: 0;
    }

    .inners {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        padding: 7vh 0 7vh 0;
    }

    nav .navbtns {
        gap: 2vw;
        /* Adds space between each list element */
        margin-right: 3vw;
        /* Ensures it stays at the top right */
        margin-top: unset;
        
    }

    .icontact {
        flex-direction: column;
        margin: 0vh 0vw 2vh 0;
    }

    .iphone {
        display: inline;
        width: fit-content;
        width: 30%;
        margin: 2vh 20vw 3vh 20vw;
    }


    .icontent {
        width: 80%;
    }

    .icontent h1 {
        font-size: 4.5vw;
    }

    .icontent h2 {
        font-size: 3.5vw;
    }

    .icontent p {
        margin-top: 1rem;
        font-size: 2.5vw;
    }

    .formm {
        width: 100%;
    }

    .inputs {
        gap: 0.5vh;
    }

    .inputs label,
    inputs textarea {
        margin-left: 1.5vw;
        font-size: unset;

    }

    .inputs input,
    .inputs textarea {
        font-size: unset;
        padding: 1vh 2vw;
    }

    .submitt {
        font-size: 3.3vw;
    }

    .grid-container {
        max-width: 90%;
        gap: 3vw;
    }

    .container-one {
        width: 100%;
        gap: 3vw;
        margin-left: 9vw;
    }

    .container-two {
        width: 100%;
        gap: 3vw;
    }

    .grid-item img {
        border-radius: 5px;
    }

    .pone {
        width: 18vw;
        height: 18vw;
    }

    .ptwo {
        width: 12vw;
        height: 15.6vw;
    }

    .pthree {
        width: 18vw;
        height: 18vw;
    }

    .pfour {
        width: 18vw;
        height: 11.4vw;
    }

    .forcetwo {
        gap: 6vh;
        margin-top: 10vh;

    }

    footer {
        height: 30vh;
    }

    footer .foot {
        padding: 2vh 1vw
    }

    footer .foot .foot1 {
        margin-right: 15vw;
    }
    
    footer .foot .foot1 img {
        width: 10vw;
    
    }    

    .foot2 {
        margin-right: 5vw;
    }

    .foot2 h3,
    .foot3 h3 {
        color: #d5b08e;
        margin-bottom: 2vh;
        font-size: 2vw;
    }

    .foot2 ul {
        list-style-type: none;
    }

    .foot2 li,
    .foot2 li a {
        color: #e4e3d7;
        font-weight: 200;
        text-decoration: none;
        margin: 1vh 0;
        transition: 0.5s;
        font-size: 1.6vw;
    }

    .foot3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .foot3 .social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }

    .social a {
        text-decoration: none;
        color: #e4e3d7;
        transition: 0.5s;
        font-size: 2vw;
    }

}

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio:7.2/10) {
    nav .navbtns {

        margin-top: unset;
    }

    footer {
        height: 50vh;
    }
}