@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #fbf2e6;
}

nav {
    width: 100%;
    height: 6rem;
    padding: 1rem 1rem;
    backdrop-filter: blur(0px);
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Fading effect */
}

nav a {
    display: inline-block;
}

nav a img {
    height: 2.5rem;

}

nav .navbtns {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    /* Adds space between each list element */
    margin-right: 3vw;
    /* Ensures it stays at the top right */
    margin-top: -35px;
}

nav .navbtns li a {
    color: #c5b695;
    text-decoration: none;
    border-bottom: 2px solid #c5b695;
    padding-bottom: 3px;
    text-transform: uppercase;
}

img[src="img/Logo.png"] {
    margin: 0 -0.5rem 0 0;
}

img[src="img/logo2.png"] {
    margin: 0 0rem 0 0;
    padding-top: 0.3rem;
}

.welcome {
    background-image: url('img/Contact Us.png');
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: fit-content;
    padding: 0rem 0rem 0rem 5rem;
}

.inners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-top: 10vh
}

.mac img {
    width: 35vw;
}


.welcome .text-content {
    display: inline-block;
    width: 40vw;
    text-align: left;
}

.welcome h1,
.welcome h2,
.welcome p {
    color: #fbf2e6;
}

.welcome h1 {
    width: 100%;
    font-weight: 500;
    font-size: 3.2vw;
}

.welcome h2 {
    font-weight: 300;
}

.welcome p {
    width: 100%;
    font-size: 1.3vw;
}

.welcome a {
    background-color: #f9e8d59a;
    color: #fbf2e6;
    border: 1px solid #fbf2e6;
    text-align: center;
    text-decoration: none;
}

@media (max-aspect-ratio: 1/1) {

    nav {
        width: 100%;
        height: 6rem;
        padding: 1rem 1rem 0 1rem;
        backdrop-filter: blur(0px);
        position: absolute;
        z-index: 1;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        /* Fading effect */
        margin-bottom: 0vh;
    }


    nav a img {
        height: 7vw;

    }

    img[src="img/Logo.png"] {
        margin: 0 -0.5rem 0 0;
    }

    img[src="img/logo2.png"] {
        margin: 0 0rem 0 0;
        padding-top: 0.3rem;
    }


    nav .navbtns li a {
        font-size: 3vw;
    }

    .welcome {
        height: fit-content;
        padding: 0;
    }

    .inners {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        padding: 7vh 0 7vh 0;
    }

    nav .navbtns {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        gap: 2vw;
        /* Adds space between each list element */
        margin-right: 3vw;
        /* Ensures it stays at the top right */
        margin-top: -35px;
    }
}

@media (max-aspect-ratio: 1/1)
and (min-aspect-ratio:7.8/10){
    nav .navbtns {

        margin-top: -7vh;
    }
}
