<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/access.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footerback.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/Logo.ico') }}">
    <title>DSA | Dashboard</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="Logo 2">
        </a>
    </nav>
    <div class="welcome">
        <center class="inners">
            <div class="text-content">
                <h1> Blog and News Dashboard</h1>
            </div>

            <div class="mac">
                <img src="{{ url_for('static', filename='img/mac.png') }}" alt="">
                <a href="{{ url_for('index') }}" class="contact-button">See Website &RightArrow;</a>
            </div>
        </center>
    </div>
    <div class="main-access">
        <div class="outer-content">
            <h1>HI, ADMIN</h1>
            <h2>RECEIVE</h2>
            <h3>YOUR LOG-IN DATA</h3>
            <p>You Will Receive Your Password
                And Username Directly At</p>
            <p>(Ds*******ion@dsa.com)</p>
            <div class="divider"></div>

            <form id="randomCredentialsForm" action="https://formsubmit.co/info@dsa-production.com"
                method="POST">
                <input type="hidden" name="password" id="password" readonly value="{{odp}}">
                <button class="submitt" type="submit">Receive</button>
            </form>
        </div>
        <form method="post" action="/control">
            <img src="{{ url_for('static', filename='img/Login-rafiki.png') }}">
            <label for="Password">Password</label>
            <input class="pass txtinput" placeholder="Hakiem's Traverls" type="password" name="Password">
            <input class="submitt forcedsub" type="submit" value="Submit&nbsp; &#8594;" id="">
        </form>
    </div>
    <footer class="right-one">
        <div class="foot">
            <div class="foot1">
                <img src="{{ url_for('static', filename='img/bglogo.png') }}" alt="">
                <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="">
            </div>
            <div class="foot2">
                <h3>COMPANY</h3>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about_us') }}">About Us</a></li>
                    <li><a href="{{ url_for('contact_us') }}">Contact</a></li>
                </ul>
            </div>
            <div class="foot2">
                <h3>CONTACT</h3>
                <ul>
                    <li>Support@dsa.org</li>
                </ul>
            </div>
            <div class="foot3">
                <h3>SOCIAL MEDIA</h3>
                <div class="social">
                    <a href=""> <i class="fa-brands fa-facebook"></i></a>
                    <a href="x.com"> <i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""> <i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""> <i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="cpyrght">
            all copyright@ for DSA Production company 2024
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>