<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

</head>

<body>
    <div class="slider">
        <div class="list">
            <div class="item">
                <img id="img_1" src="{{ url_for('static', filename='img/Group 26683.png')}}" alt="">
                <img id="img_2" src="{{ url_for('static', filename='img/img21.png')}}" alt="">
            </div>
            <div class="item">
                <img id="img_1" src="{{ url_for('static', filename='img/Group 26688.png')}}" alt="">
                <img id="img_2" src="{{ url_for('static', filename='img/img22.png')}}" alt="">
            </div>
            <div class="item">
                <img id="img_1" src="{{ url_for('static', filename='img/Group 26689.png')}}" alt="">
                <img id="img_2" src="{{ url_for('static', filename='img/img23.png')}}" alt="">
            </div>
            <div class="item">
                <img id="img_1" src="{{ url_for('static', filename='img/Group 26690.png')}}" alt="">
                <img id="img_2" src="{{ url_for('static', filename='img/img24.png')}}" alt="">
            </div>
            <div class="item">
                <img onclick="go_to_website()" id="img_1" src="{{ url_for('static', filename='img/Group 26687.png')}}"
                    alt="">
                <img onclick="go_to_website()" id="img_2" src="{{ url_for('static', filename='img/img25.png')}}" alt="">
            </div>
        </div>
        <div class="buttons">
            <button id="prev">
                < </button>
                    <button id="next">></button>
        </div>

        <ul class="dots">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </div>

    <script src="{{ url_for('static', filename='js/slider.js') }}"></script>


</body>

</html>